html {
    position: relative;
    min-height: 100%;
}

#lotus_logo{
    width: 15%;
    height: 15%;
}

#fb_logo{
    width: 10%;
    height: 10%;
}

#contact_info {
    float: right;
    font-size: 150%;
    font-weight: 600;
    font-style: italic;
}

.slider {
    width: 50%;
    height: 50%;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background-color: #d5dce2;
}

h1, h2, h3 {
    text-align: center;
    color: #007a7c;
}

.menu {
    text-align: center;
    border-right: 0;
    list-style-type: none;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 0;
    overflow: hidden;
    background-color: #bfc9d3;
}

.menu_item {
    display: inline-block;
}

li a, dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    transition: 2s;
    background-color: #769995;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    z-index: 1; /* Fixes annoying overlay problem */
    display: none;
    position: absolute;
    background-color: #bfc9d3;
    min-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #769995
}

.dropdown:hover .dropdown-content {
    display: none;
}

.service_descr {
    margin-left: 10%;
    margin-right: 10%;
}

.price_list
{
    margin-left: 10%;
	width: 280px;
	border-collapse: collapse;
	text-align: left;
}
.price_list th
{
	color: #005759;
	padding: 10px 8px;
	border-bottom: 2px solid #007a7c;
}
.price_list td
{
	border-bottom: 1px solid #01adaf;
	color: #005759;
	padding: 6px 8px;
}
.price_list tr:hover td
{
	background-color: #bfc9d3;
}


/* 
 * Image grid in products page
 * Src: https://www.sitepoint.com/using-modern-css-to-build-a-responsive-image-grid/
 */
.image_grid
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_caption{
    text-align: center;
}

.product_figure
{
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
}

/* Puts images in grid */
@media screen and (min-width: 50em) {
  .product_figure {
    width: calc(25% - 6px);
  }
}

/** Our footer */
footer{
    margin-top: 30%;
    display: block;
    width: 100%;
    position: absolute;
    
    background-color: #bfc9d3;
    font-size: 80%;
    
    height: 15%;
    
}

footer .footer_content{
    padding-left: 1%;
    display: inline-block;
}

footer .vertical_bar{
    border-left: 2px solid #007a7c;
    display: inline-block;
    
    height: 80%;
    
    margin-left: 3%;
    
}

/* Add spacing b/w list items */
footer li{
    padding-bottom: 5%;
}


